@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root{
    --color-background:#ffffff;
    --color-dark: #363949;
    --color-white: #fff;
    --layer-background:#fff
    --layer-background-leftmenu:#0091ff;
    --color-item-leftmenu:#fff;
    --surface-background:#e6e8ea;
    --text-secondary:#7589a3;
    --layer-background-leftmenu-selected:#006edc;
    --layer-background-leftmenu-hover:#0080e2;
    --icon-count-noti-enable-bg:#c31818;
    --input-field-bg-filled: #eaedf0;
    --input-placeholder-wh:#7589a3;
    --icon-primary:#081c36;
    --text-information:#005ae0;
    --tab-txt:#7589a3;
    --text-primary:#081c36;
    --item-wa-hover:#eaedf0;
    --button-tertiary-neutral-hover:#dfe2e7;
    --BA30:rgba(0, 0, 0, 0.3);
    --button-tertiary-primary-text:#0068ff;
    --button-secondary-text:#005ae0;
    --button-secondary-normal:#e5efff;
    --NG20:#e6e8ea;
    --background-activeness:#0068ff;
    --icon-secondary:#7589a3;
    --B55:#0068ff;
    --text-on-color:#fff;
    --layer-background-hover:#f3f5f6;
    --BA50:#00000080;
    --BA20:#0003;
    --blue-message:#e5efff;
    --N90: #44546f;
    --WA100:#fff;

    --semibold: 500;

    --nav-width:408px;
    --menu-width:64px;
    --space-xxs: 4px;

    --border: 1px solid #d6dbe1;
    --border-nav-tabs: 1px solid #fff;
}

.dark-mode-variables{
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-backgoundForm: #424242;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body, html {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: SegoeuiPc, Segoe UI, San Francisco, Helvetica Neue, Helvetica, Lucida Grande, Roboto, Ubuntu, Tahoma, Microsoft Sans Serif, Arial, sans-serif;
    color: var(--text-primary);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    text-shadow: 0 0 0 var(--BA30);
    letter-spacing: .2px;
    filter: grayscale(0);
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    /* border: 0; */
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    /* padding: 0; */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: inherit;
}

a, button, img {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2) !important;
}

a {
    cursor: pointer;
}

a, img, span, label, li {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
a {
    color: #0190f3;
    outline: 0;
}

img{
    width: 100%;
}

main {
    display: flex;
    position: relative;
    z-index: 10;
    overflow: hidden;
    flex: 1;
    background: var(--layer-background);
}

header {
    height: 68px;
    padding: 0 16px;
    background-position: 100%;
    background-repeat: no-repeat;
    background-color: var(--layer-background);
    width: 100%;
    border-bottom: var(--border);
}

article {
    width: 100%;
    height: calc(100% - 68px);
}

.main__center {
    transition: width .25s;
    transition-timing-function: step-end;
}

.animated, .animated.zoomIn, .animated.zoomOut {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}
.todo-welcome, .w0 {
    width: 0;
}

.btn {
    font-size: 1.125rem;
    width: 1.125rem;
    height: 1.125rem;
    line-height: 0;
    cursor: pointer;
    margin: 0;
    color: var(--button-tertiary-primary-text);
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    background: transparent;
}

Toàn bộ thanh cuộn
.scrollable {
    width: 300px;
    height: 200px;
    overflow: overlay; /* Thanh cuộn đè lên nội dung */
    background-color: lightgray;
}
::-webkit-scrollbar {
    position: absolute;
    width: 10px;  /* Độ rộng thanh cuộn dọc */
    height: 10px; /* Độ cao thanh cuộn ngang */
}

/* Phần di chuyển của thanh cuộn (thumb) */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu của thanh cuộn */
    border-radius: 10px;    /* Bo góc của thanh cuộn */
    border: 1px solid #fff; /* Viền xung quanh */
}

/* Phần nền của thanh cuộn (track) */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Màu nền của phần track */
    border-radius: 10px;
}

/* Khi hover lên phần thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Màu thanh cuộn khi hover */
}

div-b14, span-b14 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.fw14 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.fw14 {
    display: block;
}

div-b14 {
    display: block;
}

.fw16 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.fw16 {
    display: block;
}

div-24, span-24 {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.5;
}

div-24 {
    display: block;
}

.div15, .span15 {
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
}

.flx, .z--btn--v2{
    display: flex;
}


.flx-fix, header{
    flex: 0 0 auto;
}

header{
    display: -webkit-flex;
    flex-flow: row nowrap;
}

.flx-1{
    flex: 1;
}

.flx-col{
    flex-flow: column nowrap;
}

.flx-al-c, .z--btn--v2, header{
    align-items: center;
}


.flx-wrap{
    display: flex;
    flex-flow: row wrap;
}

.h0{
    height: 0;
}

.h100{
    height: 100%;
}

.w0 {
    width: 0;
}

.w100{
    width: 100%;
}

.rel{
    position: relative;
}

.margin-left-4 {
    margin-left: 4px;
}

.user-none{
    user-select: none; /* Ngăn người dùng chọn phần tử */
}

.gridv2 {
    display: grid;
    padding: 0 16px;
}

.grd-ava.lv-2 {
    grid-row-end: 3;
}

.grd-ava {
    grid-row-start: 1;
}

.todo-welcome, .w0 {
    width: 0;
}

.absolute{
    position: absolute;
}

#app, #app-page {
    overflow: hidden;
    height: 100%;
}

#app {
    display: block !important;
    width: 100%;
}

#app-page {
    position: relative;
}

#container.WEB {
    padding-top: 0;
    margin-top: 0;
    height: 100%;
    display: flex;
}
#container {
    overflow: hidden;
    margin-top: -24px;
    padding-top: 24px;
}

#sidebarNav{
    width: var(--nav-width);
    display: flex;
    border-right: var(--border);
}

#main-tab.WEB {
    margin-top: 0;
}

#main-tab {
    display: flex;
    width: 64px;
    flex: none;
    box-sizing: border-box;
    background: #0091ff;
    position: relative;
    margin-top: -24px;
    z-index: 11;
    text-align: center;
    color: var(--color-item-leftmenu);
    flex-flow: column nowrap;
    justify-content: space-between;
}

.nav-tab-zalo {
    height: 100px;
    justify-content: center;
    display: flex;
    padding-top: 32px;
    box-sizing: border-box;
}

.zavatar.zavatar-l,
.zavatar.zavatar-l .a-child {
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
}

.zavatar {
    position: relative;
    color: var(--color-white);
    overflow: hidden;
    box-sizing: border-box;
}

.zavatar.zavatar-l .a-child {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e6e8ea;
    color: var(--text-secondary);
    overflow: hidden;
    object-fit: cover;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.5;
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    border-radius: 50%;
}

.z-noti-badge-container {
    position: relative;
}
.z-noti-badge{
    height: 12px;
    border-radius: 1000px;
    background-color: var(--icon-count-noti-enable-bg);
    color: var(--text-on-color);
}

.material-symbols-outlined.item{
    font-size: 30px;
    font-weight: 300 ;
}

.leftbar-tab {
    height: 64px;
    color: var(--icon-on-color);
    -webkit-animation: fade-in .3s linear 1;
    -moz-animation: fade-in .3s linear 1;
    -ms-animation: fade-in .3s linear 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-icon-container {
    position:relative;
}

.tab-icon-container:after {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    content: "";
    background: var(--color-white);
    height: 1px;
    width: 38px
}

.clickable, .slideshow__bottom__dot, .filter-preview-v2{
    cursor: pointer;
}

.leftbar-tab.selected {
    background: var(--layer-background-leftmenu-selected);
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

.leftbar-tab:hover {
    background: var(--layer-background-leftmenu-hover);
}

.leftbar-tab:hover.selected {
    background: var(--layer-background-leftmenu-selected);
}

/* .fa-5_Plus_24_Line:after {
    content: "\ea0a";
} */
.fa-5_Plus_24_Line{
    height: 16px;
    font-size: 12px;
    /* width: 22px; */
    padding: 0px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.z-noti-badge.--counter.--big.--anchor.--top-right {
    top: -4px;
    left: calc(100% - 12px);
}

.z-noti-badge.--counter.--big.--anchor {
    position: absolute;
}

.--counter.--big {
    height: 16px;
    min-width: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.z-noti-badge.--counter.--big {
    height: 16px;
    min-width: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.leftbar-tab.selected .leftbar-unread-badge {
    outline-color: var(--layer-background-leftmenu-selected);
}

.z-noti-badge.--counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.z-noti-badge {
    height: 12px;
    border-radius: 1000px;
    background-color: var(--icon-count-noti-enable-bg);
    color: var(--color-white);
}

.leftbar-unread-badge {
    outline: var(--layer-background-leftmenu) solid 2px;
    -webkit-transition: outline .1s cubic-bezier(.645,.045,.355,1);
    transition: outline .1s cubic-bezier(.645,.045,.355,1);
    -webkit-animation: fade-in .3s linear 1;
    -moz-animation: fade-in .3s linear 1;
    -ms-animation: fade-in .3s linear 1;
}

.conv-list-semi-compact {
    min-width: calc(var(--nav-width) - 68px);
    display: flex;
    flex-direction: column;
}

#contact-search {
    height: 64px;
    min-height: 64px;
    position: relative;
    background-color: var(--layer-background);
    transition: visibility 0s, opacity .5s linear;
    overflow: visible;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-search .group-search {
    position: relative;
    display: flex;
    height: 32px;
    width: 240px;
}

#contact-search .group-search__icon {
    position: absolute;
    top: 0;
    font-size: 1.375rem;
    width: 1.375rem;
    height: 1.375rem;
    line-height: normal;
    color: var(--icon-primary);
    bottom: 0;
    margin: auto 6px;
}

.fake-textholder {
    color: var(--input-placeholder-wh);
    position: absolute;
    left: 32px;
    background: transparent;
    pointer-events: none;
    visibility: visible;
    bottom: 0;
    display: list-item;
    height: 100%;
    padding: 2px 0;
    vertical-align: bottom;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    align-items: center;
}

#group-creator .create-group__item__name, .cb-info-file-item__error-msg, .cb-info-file-item__file-size, .cb-info-file-item__send-date, .cb-info-file-item__suggest-preview-file, .cb-info-file-item__suggest-preview-folder, .chat-box-member__info__name, .chat-info-link__subtitle, .chat-info-link__title, .chat-input-link-preview .preview-desc, .chat-input-link-preview .preview-link, .chat-input-link-preview .preview-title, .contact-pages.page-container .contact-item-v2-wrapper>.friend-info>.detail-info>.label>.description, .contact-pages.page-container .contact-item-v2-wrapper>.friend-info>.detail-info>.name-wrapper>.name, .conv-item-title__name, .conv-message, .conv-title-name, .file-banner-content__full-name, .file-banner-content__sender-name, .file-message__content-error, .file-message__content-title, .file-progress-row__end-text, .file-progress-row__start-text, .file-star-msg-content__size, .file-star-msg-content__title, .file-suggest-item__conversation, .file-suggest-item__name, .file-suggest-item__size, .filter-preview-v2>div, .fmsg-send-time__error-msg, .group-poll-detail-v3 .detail-section-wrapper>.voter-list>.voter-section>.name, .input-preview-item .file-preview-item__name, .input-preview-item .image-preview-item__caption, .item-message, .item-title-name, .message-quote-fragment__content-container>.message-quote-fragment__description, .message-quote-fragment__title-wrapper>.message-quote-fragment__title, .mn-noti-undo-del>.mn-noti-undo-del__counting>.mn-noti-undo-del__mess>span, .mn-noti-undo-del>.mn-noti-undo-del__failed>.mn-noti-undo-del__mess>span, .mn-noti-undo-del>.mn-noti-undo-del__success>.mn-noti-undo-del__mess>span, .quote-file__name, .quote-file__text, .search-result-file__file-name, .search-result-file__file-name-seg, .search-result-file__file-size, .search-result-file__send-date, .search-result-file__suggest-preview-file, .search-result-file__suggest-preview-folder, .star-msgs__group__item__title>.text-name.user-name, .text-simple-dropdown>div, .truncate, .user-single-filter-preview>div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
}

#contact-search-input {
    height: 32px;
    background-color: var(--input-field-bg-filled);
    border: 1px solid var(--input-field-bg-filled);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    line-height: 32px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
}

.msg-filters-bar.ver3 {
    border: none;
    margin: 0;
    padding: 0;
}
.msg-filters-bar {
    margin: 0 16px;
    padding: 12px 0 8px;
    border-top: 1px solid var(--border);
    background-color: var(--layer-background);
}

.tab-main.small {
    height: 32px;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.5;
}
.tab-main.border-bottom {
    border-bottom: var(--border);
}
.tab-main {
    height: 48px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
}

.tab-main.border-bottom.small .tab-item {
    margin-left: 12px;
}

.tab-main .tab-item.selected, .tab-main .tab-item:hover {
    color: var(--text-information);
}
.tab-main .tab-item.selected{
    border-bottom: 3px solid;
}
.tab-main .tab-item:first-child {
    margin-left: 0 !important;
}
.tab-main.small .tab-item {
    margin-left: 20px;
}
.tab-main .tab-item {
    border-bottom: 2px solid transparent;
    color: var(--tab-txt);
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 20px;
    box-sizing: border-box;
    margin-bottom: -1px;
    transition: border-color .2s;
    min-width: fit-content;
}

.z-noti-badge-container {
    position: relative;
}

.label-filter-preview {
    max-width: 140px;
}
.filter-preview-v2, .user-single-filter-preview {
    width: fit-content;
    padding: 0 4px 0 8px;
    color: var(--text-primary);
    max-width: 100%;
    box-sizing: border-box;
    height: 24px;
    border-radius: 12px;
    max-width: 120px;
    font-weight: 400;
}

.filter-preview-v2:hover, .user-single-filter-preview:hover {
    background: var(--item-wa-hover);
}

.z--btn--v2.icon-only.small {
    max-width: 24px;
    min-width: 24px;
}
.z--btn--v2.icon-only.medium {
    max-width: 32px;
    min-width: 32px;
}
.z--btn--v2.icon-only {
    padding: 0;
}
.z--btn--v2.--full-rounded {
    border-radius: 20px;
}
.z--btn--v2.btn-tertiary-neutral {
    background-color: var(--button-tertiary-neutral-normal);
    color: var(--button-neutral-text);
}

.z--btn--v2.btn-tertiary-neutral:hover {
    background-color: var(--button-tertiary-neutral-hover);
}

.z--btn--v2.small {
    height: 24px;
    font-size: .875rem;
}
.z--btn--v2, .z--btn--v2.small {
    font-weight: 500;
    line-height: 1.5;
}
.z--btn--v2 {
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 16px;
    font-size: 1rem;
    width: fit-content;
    min-width: max-content;
}

.all-transition, .chips, .chips.--l>.post, .chips.--m>.post, .leftbar-tab, .z--btn--v2 {
    -webkit-transition: all .1s cubic-bezier(.645,.045,.355,1);
    transition: all .1s cubic-bezier(.645,.045,.355,1);
}

.z--btn--v2, .flx-center{
    justify-content: center;
}

#chatOnboard {
    overflow: hidden;
}

.chat-onboard {
    height: calc(100vh - 30px);
    color: var(--text-primary);
    background: var(--layer-background);
}

.chat-onboard__header {
    width: 415px;
    text-align: center;
    color: var(--text-primary);
    margin-bottom: 50px;
    max-width: calc(100% - 24px);
}

.slideshow {
    position: relative;
    width: 95%;
}

.slideshow__btn.slideshow__prev {
    left: 10px;
}
.slideshow__btn.slideshow__next {
    right: 10px;
}
.slideshow__btn {
    position: absolute;
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 0;
    top: calc(50% - 20px);
    margin-top: -12px;
    z-index: 1;
    padding: 8px 6px;
}

.slideshow__container {
    overflow: hidden;
}

.slideshow__content {
    position: relative;
    transition: left .3s;
    -webkit-transition: left .3s;
    width: 380px;
}

.slideshow__page, .slideshow__page__image {
    width: 380px;
}

.slideshow__bottom {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.slideshow__bottom__dot {
    background: var(--NG20);
    display: inline-block;
    height: 8px;
    width: 8px;
    margin-right: 7px;
    margin-left: 7px;
    border-radius: 100%;
}

.slideshow__bottom__dot.selected {
    background: var(--background-activeness);
}

.slideshow__page__text {
    color: var(--text-primary);
    padding: 0 30px;
}

.slideshow__page__text__title {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    margin: 20px 0 10px;
    color: var(--text-information);
    width: 100%;
}
.slideshow__page__text {
    color: var(--text-primary);
    padding: 0 30px;
}
style attribute {
    height: 100%;
    width: calc(25%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.z--btn--v2.btn-secondary {
    background-color: var(--button-secondary-normal);
    color: var(--button-secondary-text);
}

.z--btn--v2.medium {
    height: 32px;
}
.z--btn--v2, .z--btn--v2.small {
    font-weight: 500;
    line-height: 1.5;
}
.z--btn--v2 {
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 16px;
    font-size: 1rem;
    width: fit-content;
    min-width: max-content;
}

.all-transition, .chips, .chips.--l>.post, .chips.--m>.post, .leftbar-tab, .z--btn--v2 {
    -webkit-transition: all .1s cubic-bezier(.645,.045,.355,1);
    transition: all .1s cubic-bezier(.645,.045,.355,1);
}
.mr-12 {
    margin-right: 12px !important;
}
.mb-12 {
    margin-bottom: 12px !important;
}

.virtualized-scroll {
    position: relative;
    overflow-x: hidden;
    outline: none;
}

.gridv2.tiny.grid-fluid-8 {
    grid-template-columns: calc(12.5% - 1.75px) calc(12.5% - 1.75px) calc(12.5% - 1.75px) calc(12.5% - 1.75px) calc(12.5% - 1.75px) calc(12.5% - 1.75px) calc(12.5% - 1.75px) calc(12.5% - 1.75px);
}

.gridv2.tiny {
    gap: 2px;
}

.conv-rel {
    position: relative;
}

.conv-item {
    height: 100%;
    contain: size style;
    background-color: var(--layer-background);
    transition: background-color 80ms;
    cursor: pointer;
    overflow: hidden;
}

.conv-item:hover {
    background: var(--layer-background-hover);
}

.conv-item__avatar {
    position: relative;
    align-items: center;
    justify-content: start;
}

.conv-status {
    position: absolute;
    top: 45px;
    left: 50px;
    z-index: 1;
}

.zavatar-container {
    height: fit-content;
}

.conv-item-title__more, .conv-item-title__name {
    overflow: hidden;
    white-space: nowrap;
    align-self: flex-end;
    align-items: center;
    height: 24px;
}

.conv-item-title__name {
    max-width: calc(100% - 8px);
    text-overflow: ellipsis;
    display: block;
    flex: 1;
    color: var(--text-primary);
    display: flex;
}

.truncate{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
}

.conv-item-title__name, .conv-message, .conv-title-name, .flx-cell, .item-message, .item-title-name, .zl-scroll {
    flex: 1 1 auto;
}

.conv-item-title__more {
    font-size: .85rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--icon-secondary);
    position: relative;
    display: flex;
    justify-content: flex-end;
    grid-column-start: 3;
    grid-column-end: 5;
} 

.conv-item-title__more, .conv-item-title__name {
    overflow: hidden;
    white-space: nowrap;
    align-self: flex-end;
    align-items: center;
    height: 24px;
}

.community__conv-indicator {
    color: var(--icon-secondary);
    margin-right: 4px;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

.conv-item-body {
    justify-content: space-between;
    align-items: flex-start;
    grid-column-start: 2;
    grid-column-end: 4;
}

.conv-item-body__main {
    height: 18px;
    margin-top: 4px;
    max-width: calc(100% - 4px);
}

.conv-item-body__action.hasOption, .conv-item-body__action.markUnread {
    display: flex;
    justify-content: flex-end;
}
.conv-item-body__action {
    height: 18px;
    margin: 4px 4px 0 0;
    display: none;
}

.conv-message.unread {
    color: var(--text-primary);
    right: 30px;
}
.conv-message {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    line-height: 18px;
    position: relative;
    color: var(--text-secondary);
    left: 0;
}

.conv-message{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
}

.conv-dbname {
    min-width: 0;
    max-width: fit-content;
    flex: 0 0 100%;
}

.important-unread-icon-mention {
    color: var(--B55);
}
.important-unread-icon, .important-unread-icon-mention {
    margin-right: 3px;
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
}

.preview-time.--b {
    font-weight: var(--semibold);
    color: var(--text-primary);
}

#ava_chat_box_view {
    position: relative;
}

.zavatar-container {
    height: fit-content;
}

.ttl-badge.-h-right.-v-bottom.-invisible {
    transform: scale(0) translate(50%, 50%);
}
.ttl-badge.-h-right.-v-bottom {
    bottom: 14%;
    right: 14%;
    transform: scale(1) translate(50%, 50%);
}
.ttl-badge {
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
}

.threadChat__title {
    position: relative;
    margin-left: 12px;
    margin-right: 18px;
}

.message-view__blur__overlay_noavatar {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--surface-background-subtle);
    z-index: -1;
}

.message-view {
    flex: 1 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.drag-media-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .95;
    transition: all .3s;
}

#messageViewContainer {
    flex: 1 1 auto;
    transition: .2s ease-out;
}
.message-view__scroll {
    position: relative;
    flex: 1 0 auto;
    contain: layout style size;
    bottom: 0;
    background-color: #00000012;
}

.message-view__scroll__inner.--audit-message-spacing {
    padding-bottom: 24px;
}
.message-view__scroll__inner {
    min-height: 100%;
    display: flex;
    padding-bottom: 28px;
    flex-direction: column;
    justify-content: flex-end;
    contain: layout style;
}
.fadeInAndOut {
    animation: fadeInAndOut .4s ease;
}

.chat-box-input-container {
    position: relative;
}

.drag-media-overlay {
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .95;
    transition: all .3s;
}

.chat-box-bar {
    position: relative;
    display: flex;
    height: 40px;
    padding: 0 8px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border);
    background-color: var(--layer-background);
    border-top: var(--border);
}

.chat-box-toolbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-self: center;
}

.chat-box-toolbar-item {
    display: block;
}

.chat-box-bar .right-chat-box-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.chat-box-input--audit-2023 {
    flex: 1;
    position: relative;
    background: var(--layer-background);
    border-top: 1px solid var(--border);
}

.chat-input-container--audit-2023 {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 12px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    border-top: var(--border);
}

.chat-input-container--audit-2023__left-layout {
    display: flex;
    align-items: center;
    flex-grow: 1;
    min-width: calc(100% - 74px);
    max-width: 100%;
    cursor: text;
}

.chat-input-container--audit-2023 .chat-input-scrollable {
    scrollbar-color: var(--BA50) transparent;
    scrollbar-width: thin;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    width: 100%;
    max-height: 123.75px;
}

.chat-input-container--audit-2023 .chat-input-wrapper {
    height: 100%;
}

.chat-input-container--audit-2023 .chat-input-content {
    height: auto;
}

.chat-input-container--audit-2023 .rich-input {
    overflow: hidden;
    padding: 0;
    height: auto;
    min-height: 22.5px;
    max-height: none;
}

.rich-input, .zl-compose>.rich-input {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    text-shadow: 0 0 0 var(--BA50);
    box-sizing: border-box;
    min-height: 16px;
    max-height: 182px;
    justify-content: center;
    flex-direction: column;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 12px 10px 18px 16px;
    overflow: auto;
    flex: 1 1 auto;
    position: relative;
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
}

.chat-input-container--audit-2023 .rich-input>div:first-child {
    padding-top: 0;
}
.rich-input>div:first-child {
    padding-top: 5px;
}

.chat-input-container--audit-2023__right-layout {
    display: flex;
    align-items: center;
}

.rtf-buttons-group {
    opacity: 0;
    display: none;
    align-items: center;
    gap: 8px;
    cursor: default;
}

.normal-buttons-group {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: default;
}

.chat-box-input-button.z--btn--v2.icon-only.medium {
    max-width: 30px;
    min-width: 30px;
    height: 30px;
}

.threadChat__title {
    position: relative;
    margin-left: 12px;
    margin-right: 18px;
}

.chat-item-spacing.--s2 {
    margin-bottom: calc(var(--space-xxs)* 2);
}
.chat-item.me {
    flex-flow: row-reverse nowrap;
}
.chat-item-audit {
    padding-bottom: 0;
    margin-bottom: 0;
}
.chat-item {
    padding-left: 16px;
    padding-right: 16px;
    word-wrap: break-word;
    contain: style;
    word-break: break-all;
    word-break: break-word;
}

.chat-content {
    margin: 0 0 0 10px;
    max-width: calc(100% - 50px);
}

.chat-message.me {
    justify-content: flex-end;
}
.chat-message {
    display: -webkit-flex;
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    color: var(--text-primary);
}

.chat-message__actionholder.me {
    margin-left: 0;
    margin-right: 16px;
}
.chat-message__actionholder {
    contain: strict;
    display: flex;
    min-height: 28px;
    box-sizing: border-box;
    margin-left: 10px;
}

.card--text.audio-expired, .card.card--text {
    user-select: text;
    min-width: 40px;
    max-width: calc(100% - 38px);
}

.card.me, .me.audio-expired {
    background-color: var(--blue-message);
}

.audio-expired, .card--file.audio-expired, .card--link.audio-expired, .card--location.audio-expired, .card--sound.audio-expired, .card--text.audio-expired, .card--undo.audio-expired, .card.card--file, .card.card--link, .card.card--location, .card.card--sound, .card.card--text, .card.card--undo, .shadow-bubble {
    -webkit-box-shadow: 0 1px 2px var(--BA20);
    -moz-box-shadow: 0 1px 2px var(--BA20);
    box-shadow: 0 1px 2px var(--BA20);
}

.audio-expired, .card--file.audio-expired, .card--link.audio-expired, .card--location.audio-expired, .card--sound.audio-expired, .card--text.audio-expired, .card--undo.audio-expired, .card.card--file, .card.card--link, .card.card--location, .card.card--sound, .card.card--text, .card.card--undo, .shadow-bubble {
    -webkit-box-shadow: 0 1px 2px #00000030;
    -moz-box-shadow: 0 1px 2px var(--BA20);
    box-shadow: 0 1px 2px var(--BA20);
}

.audio-expired, .card {
    position: relative;
    display: block;
    padding: 12px;
    border-radius: 8px;
    background: var(--WA100);
    color: var(--text-primary);
}

.overflow-hidden {
    overflow: hidden;
}
.overflow-hidden {
    overflow: hidden !important;
}

.text {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    white-space: pre-wrap;
}

.message-reaction-container-v2, .message-reaction-container-v2.always-display, .message-reaction-container-v2.img-has-title, .message-reaction-container-v2.img-has-title:not(.has-reacts), .message-reaction-container-v2.img-no-title, .message-reaction-container-v2.me, .message-reaction-container-v2.me.always-display, .message-reaction-container-v2.me.img-no-title {
    position: absolute;
    top: auto;
    right: 4px;
    bottom: -13px;
    left: auto;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    padding: 0;
}
.message-reaction-container.me {
    left: 12px;
    right: auto;
    flex-direction: row-reverse;
}
.message-reaction-container:not(:has(.user-reacted-container)) {
    z-index: 3;
}
.message-reaction-container-v2 {
    display: none;
    padding: 0 !important;
    z-index: 3;
}
.message-reaction-container {
    position: absolute;
    display: none;
    bottom: -15px;
    right: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-send-time {
    width: 100%;
}
.card-send-time {
    color: var(--BA50);
    text-align: left;
    user-select: text;
}

.non-selected {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.card-send-time__sendTime {
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--N90);
}
.card-send-time {
    color: var(--BA50);
    text-align: left;
    user-select: text;
}

.chat-input {
    width: 100%;
    background: rgb(255, 255, 255);
  }

  .send-btn {
  border: none;
  color: "gray";
  height: 40px;
  width: 40px;
}
.send-btn:hover{
    color: #0068ff;
}

.zavatar .z-noti-badge.--counter.--big.--anchor.--top-right {
    top: 36px;
    left: calc(100% - 15px);
}

.zavatar .--counter.--big.--anchor {
    position: absolute;
}

.zavatar .--counter.--big {
    height: 12px;
    min-width: 12px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.zavatar .z-noti-badge.--counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.zavatar .z-noti-badge {
    height: 12px;
    border-radius: 1000px;
    background-color: #00f446;
    color: var(--color-white);
}